Package: pack-dm
Version: 1.1.0
Section: httpd
Priority: optional
Architecture: all
Depends: mono-runtime, mono-runtime-common, mono-4.0-service
Installed-Size: 372
Maintainer: KeepCoding
Description: PackDm - Gerenciador de dependências DotNet.
 .
 PackDm, ou Pack Dependency Manager, é um gerenciador
 simplificado de dependências do Framework.Net para
 aplicativos da KeepCoding. 
